# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Build artifacts
*.jar
*.war

# Env files
.env
*.env

.vscode/
